@using ServiceApp.Services.Models.Offers

@model OfferCreateViewModel

@{
    var carsRegisterNums = this.ViewData["carsRegisterNums"] as IEnumerable<SelectListItem>;
}

@*Fix the view with select list items for the parts*@
<form asp-controller="Offers" asp-action="Create" method="post">
    <h4>Избери автомобил</h4>
    @*Избор по регистрационен номер*@

    <div class="form-group">
        <label asp-for="CarRegistrationNumber" class="control-label">Регистрационен номер</label>

        <div >
            <input type="text" list="carsRegisterNums" />
            <datalist id="carsRegisterNums">
                @foreach (var regNum in carsRegisterNums)
                {
                    <option>@regNum.Text</option>
                }
            </datalist>
        </div>
        <span asp-validation-for="CarRegistrationNumber" class="text-danger"></span>
    </div>

    <a href="#" id="add" class="btn btn-default">Добави ред</a>
    <div class="form-group" id="item-list">

        <br />
        <input type="text" asp-for="Raws" class="items" name="Raws[0].PartDesciption" value="" />
        <input type="text" asp-for="Raws" class="items" name="Raws[0].PartPrice" value="" />
        <input type="text" asp-for="Raws" class="items" name="Raws[0].Count" value="" />
        <input type="text" asp-for="Raws" class="items" name="Raws[0].PriceOfWork" value="" />
    </div>

    <input type="submit" value="Създай" class="btn btn-primary" />

</form>

@section Scripts {
    <script>
        $(function () {

            $("#add").click(function (e) {
                e.preventDefault();
                var i = ($(".items").length) / 4;
                var n = '<br />' +
                    '<input type="text" asp-for="Raws" style="margin: 5px 5px 5px 0;" name="Raws[' + i + '].PartDesciption" />' +
                    '<input type="text" asp-for="Raws" style="margin: 5px 5px 5px 0;" name="Raws[' + i + '].PartPrice" />' +
                    '<input type="text" asp-for="Raws" style="margin: 5px 5px 5px 0;" name="Raws[' + i + '].Count" />' +
                    '<input type="text" asp-for="Raws" style="margin: 5px 5px 5px 0;" name="Raws[' + i + '].PriceOfWork" />'


                $("#item-list").append(n);
            });

        });

        $(document).ready(function () {
            $('#registerNumber').on('change', function () {
                var optionText = $('#registerNumber option:selected').text();
                alert("Selected Option Text: " + optionText);
            })
        });
    </script>
}
